Jspweb/src/main/webapp/feedbacks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="feedbacks">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="feedback" maxOccurs="unbounded" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="name" type="xsd:string"/>
                            <xsd:element name="email" type="xsd:string"/>
                            <xsd:element name="product" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="rating" type="xsd:integer"/>
                            <xsd:element name="comment" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
